{erl_opts, [debug_info]}.
{deps, [
    {trie, "1", {git, "https://github.com/BumblebeeBat/MerkleTrie", {tag, "master"}}},
    {cowboy, "1.0.4", {git, "https://github.com/ninenines/cowboy.git", {tag, "1.0.4"}}}
]}.


{overrides,
    [{override, jiffy, [
        {plugins, [pc]},
        {artifacts, ["priv/jiffy.so"]},
        {provider_hooks, [
            {post,
                [
                    {compile, {pc, compile}},
                    {clean, {pc, clean}}
                ]
            }]
        }
    ]}
]}.