*.py[cod~]
*.db
log.py
*~
.idea
.edts
*.iml
_build
/rel/
*.db
*~
.#*
\#*
.rebar
erl_crash.dump
keys_backup
lib/
bin/
.Python
include/
*.pyc
nosetests.xml
pip-selfcheck.json
config/*/sys.config
man
compile_commands.json
deps/*
rebar.lock